<header>
    <nav class="desktop">
        <dl class="container justify center-vertical">
            <dt>
                <a [routerLink]="['/']">
                    <app-title [text]="'PROGRAMMING TASK'"></app-title>
                </a>
            </dt>
            <dt>
                <app-button *ngFor="let language of availableLanguages"
                (click)="changeLanguage(language)" [text]="language"></app-button>
            </dt>
        </dl>
    </nav>
    <nav class="mobile">
        <dl class="container updown center-vertical">
            <dt>
                <a [routerLink]="['/']">
                    <app-title [text]="'PROGRAMMING TASK'"></app-title>
                </a>
            </dt>
            <dt>
                <app-button *ngFor="let language of availableLanguages"
                (click)="changeLanguage(language)" [text]="language"></app-button>
            </dt>
        </dl>
    </nav>
</header>