dl dt{
    display: inline;
}

@media only screen and (max-width: 728px) {
    .desktop{
        display:none;
    }
  }
@media only screen and (min-width: 729px) {
    .mobile{
        display:none;
    }
  }