<form [formGroup]="passedFormGroup" class="container updown center-vertical">

    <label>{{stepFields.application.amount.text}}</label>
    {{amountValue}}
    <div class="container">
        <span>{{stepFields.application.amount.from}}</span>
        <input formControlName="amount" type="range" [min]="stepFields.application.amount.from"
            [max]="stepFields.application.amount.to" [step]="stepFields.application.amount.step" #amountInput
            (input)="amountValue = amountInput.value">
        <span>{{stepFields.application.amount.to}}</span>
    </div>
    <app-error-message [control]="passedFormGroup.controls['amount']"></app-error-message>

    <label>{{stepFields.application.term.text}}</label>
    {{termValue}}
    <div class="container">
        <span>{{stepFields.application.term.from}}</span>
        <input formControlName="term" type="range" [min]="stepFields.application.term.from"
            [max]="stepFields.application.term.to" [step]="stepFields.application.term.step" #termInput
            (input)="termValue = termInput.value">
        <span>{{stepFields.application.term.to}}</span>
    </div>

    <label>{{stepFields.application.payDay.text}}</label>
    <select formControlName="payDay">
        <option [value]=""></option>
        <option *ngFor="let select of stepFields.application.payDay.select" [value]="select">{{select}}</option>
    </select>


    <app-subtitle [text]="stepFields.Income.subtitle"></app-subtitle>
    <label>{{stepFields.Income.salary.text}}</label>
    <input type="number" formControlName="salary">
    <app-error-message [control]="passedFormGroup.controls['salary']"></app-error-message>
</form>